

<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
    <p style="color: green"><%= notice %></p>
      <div class="mt-4">
        <h1><%= @prompt.title %></h1>
        <p><span style="color: gray; font-style: italic;"><%= @prompt.description %></span></p>
        <p><%= simple_format(@prompt.prompt_text) %></p>
      </div>

      <%= link_to 'Edit', edit_prompt_path(@prompt), class: 'btn btn-secondary' %> |
      <%= link_to 'Back', prompts_path, class: 'btn btn-link' %>
      <%= render 'comments/form', commentable: @prompt %>
      <%= render 'comments/comments', commentable: @prompt %>

    </div>
    
  </div>
</div>
